.hero{
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  row-gap: 40px;
}

.hero h1{
  font-size: 3rem;
  max-width: 600px;
  text-align: center;
  width: 100%;
}

.hero .hero__links{
  display: flex;
  column-gap: 30px;
  cursor: pointer;
}

.hero__links a{
  text-decoration: none;
  border: 2px solid gray;
  padding: 10px 20px;
}

.hero__links a:nth-child(1){
  color: black;
}


.hero__links a:nth-child(2){
  color: white;
  background-color: purple;
}